.title {
  text-align: center;
  font-size: 40px;
  color: coral;
}

main {
  background-color: aliceblue;
  padding: 100px;
}

#htmlSection {
  border: 6px black solid;
  padding: 20px;
}

hr {
  margin-top: 50px;
  margin-bottom: 100px;
}

#cssSection {
  border: 6px rgb(199, 12, 168) solid;
  padding: 20px;
}

section header h2 {
  color: rgb(137, 214, 21);
}

#htmlSection header h2 {
  color: red;
}

section small {
  color: coral;
}

img {
  height: 50px;
}

ul {
  list-style: upper-latin inside;
}
