p {
  color: red;
}

h1 {
  font-size: 70px;
}

table {
  background-color: red;
}

input {
  background-color: rgb(42, 165, 144);
  color: rgba(195, 255, 0, 0.39);
}

div {
  height: 400px;
}

#monid {
  background-color: #bada55;
  width: 100%;
}

.maclass {
  border: 1px red solid;
}
